# Entorno virtual
venv/
env/

# Archivos compilados
__pycache__/
*.pyc

# Archivos de base de datos locales
#db.sqlite3

# Archivos de configuración sensible
*.env
.env

# Archivos de VSCode y PyCharm
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
